.row {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
    
}
.header {
    display: flex;
    align-items: center;
    gap: 4px;

}

.headerDiv {
    display: flex;
    flex-direction: column;
}

.avatarImage {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.handle {
    opacity: .6;
    display: flex;
    justify-content: space-between;
}

.button {
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
}


.button:hover {
    background-color: #09f;
    transition: 0.3s ease background-color;
}

.stopFollowing {
    margin-left: 16px;
    border: 1px solid;
    border-color: rgb(100, 100, 100);
    border-radius: 99px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color: white;
    width: 130px;
}

.stopFollowing:hover {
    border: 1px solid;
    border-color: rgb(224, 1, 1);
    background-color: rgba(206, 1, 1, 0.288);
    color: red
}

.text {
    display: block;
}

.stopFollowing:hover .text {
    display: none;
}

.stopFollowing:hover .differentText {
    display: block;
}

.differentText {
    display: none;
}
